<components-form-elements>

    <h2 class="mb-xl">Form Elements</h2>

    <h4 class="mb-xxs">Input sizes</h4>
    <p class="fontSize-l mb-l">Input fields come in four sizes which can be applied with <strong class="fontWeight-5 c-blue">.input-xl</strong>, <strong class="fontWeight-5 c-blue">.input-l</strong>, <strong class="fontWeight-5 c-blue">.input-m</strong> and <strong class="fontWeight-5 c-blue">.input-s</strong> on the <strong class="fontWeight-5 c-blue">.input</strong> component itself.</p>

    <div class="overflow-hidden borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-12 p-m text-center borderStyle-solid borderColor-smoke borderRightWidth-1 borderBottomWidth-1">
                <div class="flex-centered h60 mt-xs mb-s plr-l md-plr-m xs-plr-s">
                    <input class="input input-xl" type="text" placeholder="Placeholder text">
                </div>
                <p class="lineHeight-s fontSize-s fontWeight-3 c-grayLight">Extra Large Input</p>
            </div>
            <div class="col-md-12 p-m text-center borderStyle-solid borderColor-smoke borderBottomWidth-1">
                <div class="flex-centered h60 mt-xs mb-s plr-l md-plr-m xs-plr-s">
                    <input class="input input-l" type="text" placeholder="Placeholder text">
                </div>
                <p class="lineHeight-s fontSize-s fontWeight-3 c-grayLight">Large Input</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-m text-center borderStyle-solid borderColor-smoke borderRightWidth-1 xs-borderBottomWidth-1">
                <div class="flex-centered h60 mt-xs mb-s plr-xl md-plr-l xs-plr-m">
                    <input class="input input-m" type="text" placeholder="Placeholder text">
                </div>
                <p class="lineHeight-s fontSize-s fontWeight-3 c-grayLight">Medium Input</p>
            </div>
            <div class="col-md-12 p-m text-center">
                <div class="flex-centered h60 mt-xs mb-s plr-xl md-plr-l xs-plr-m">
                    <input class="input input-s" type="text" placeholder="Placeholder text">
                </div>
                <p class="lineHeight-s fontSize-s fontWeight-3 c-grayLight">Small Input</p>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ inputSizes() }</code></pre>
        <script>
            this.inputSizes = function(){
                return '<input class="input input-xl" type="text">\n'+
                '<input class="input input-l" type="text">\n'+
                '<input class="input input-m" type="text">\n'+
                '<input class="input input-s" type="text">';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Input with icon</h4>
    <p class="fontSize-l mb-l">Inputs with icons are wrapped in a parent component <strong class="fontWeight-5 c-blue">.input-group-icon</strong> which has to have the input size applied to with an additional class. For example, <strong class="fontWeight-5 c-blue">.input-m</strong> will have a parent element with a class .uiIcon-m. The icon has to be placed straight after the input and should be an inline SVG.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-9">
                <div class="p-m">
                    <div class="input-group input-group-icon">
                        <input class="input input-m" type="text" placeholder="Placeholder text">
                        <div class="input-icon">
                            <svg class="input-svg" viewBox="3 -3 24 24"><path class="input-svg-color" d="M15 11.9c-.9 0-1.7-.2-2.3-.7l-5.7-4.4v8.1c0 .1 0 .3.1.4.1.1.2.2.3.2 2.5.4 5 .5 7.5.5s5-.2 7.5-.5c.1 0 .3-.1.4-.2.2-.1.2-.3.2-.4v-8.1l-5.7 4.4c-.6.5-1.4.7-2.3.7zm-1.3-2.3c.3.3.8.4 1.3.4s1-.1 1.3-.4l6.1-4.7c.3-.3.5-.6.6-1v-.8c0-.1 0-.3-.1-.4-.1-.1-.2-.2-.4-.2-2.5-.3-5-.5-7.5-.5s-5 .2-7.5.5c-.1 0-.2.1-.3.2-.2.1-.2.3-.2.4v.9c.1.3.3.6.6 1l6.1 4.6z"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ inputWithIcon() }</code></pre>
        <script>
            this.inputWithIcon = function(){
                return '<div class="input-group input-group-icon">\n'+
                        '    <input class="input input-m" type="text" placeholder="...">\n'+
                        '    <div class="input-icon">\n'+
                        '        <svg class="input-svg">...</svg>\n'+
                        '    </div>\n'+
                        '</div>';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Disabled input</h4>
    <p class="fontSize-l mb-l">Disabled inputs recieve an <strong class="fontWeight-5 c-blue">disabled</strong> attribute.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-9">
                <div class="p-m">
                    <input class="input input-m" type="text" placeholder="Placeholder text" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ disabledInput() }</code></pre>
        <script>
            this.disabledInput = function(){
                return '<input class="input input-m" type="text" disabled>';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Input with context</h4>
    <p class="fontSize-l mb-l">Sometimes there might be the need for pre-set context to inputs, for example when requesting a website — it should always start with <strong class="fontWeight-5 c-blue">http://</strong> or just <strong class="fontWeight-5 c-blue">www</strong>.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-12">
                <div class="p-m">
                    <div class="mb-m">
                        <div class="input-group">
                            <div class="input-context-m">http://</div>
                            <input class="input input-m" type="text" placeholder="Enter something">
                        </div>
                    </div>
                    <div class="mb-m">
                        <div class="input-group">
                            <input class="input input-m" type="text" placeholder="Enter something">
                            <div class="input-context-m">@yuap.ru</div>
                        </div>
                    </div>
                    <div>
                        <div class="input-group">
                            <div class="input-context-m">http://</div>
                            <input class="input input-m" type="text" placeholder="Enter something">
                            <div class="input-context-m">@yuap.ru</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ inputWithContext() }</code></pre>
        <script>
            this.inputWithContext = function(){
                return '<div class="input-group">\n'+
                        '    <input class="input input-m" type="text">\n'+
                        '    <div class="input-context-m">@yuap.ru</div>\n'+
                        '</div>';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Textarea</h4>
    <p class="fontSize-l mb-l">Тextareas come in four sizes which can be applied with <strong class="fontWeight-5 c-blue">.textarea-xl</strong>, <strong class="fontWeight-5 c-blue">.textarea-l</strong>, <strong class="fontWeight-5 c-blue">.textarea-m</strong> and <strong class="fontWeight-5 c-blue">.textarea-s</strong> on the <strong class="fontWeight-5 c-blue">.textarea</strong> component itself.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-12">
                <div class="p-m">
                    <textarea class="textarea textarea-m" placeholder="Write a comment..."></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ textarea() }</code></pre>
        <script>
            this.textarea = function(){
                return '<textarea class="textarea textarea-m"></textarea>';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Textarea with icon</h4>
    <p class="fontSize-l mb-l">Textareas with icons are wrapped in a parent component <strong class="fontWeight-5 c-blue">.input-group-icon</strong> which has to have the textarea size applied to with an additional class. For example, <strong class="fontWeight-5 c-blue">.textarea-m</strong> will have a parent element with a class .uiIcon--m. The icon has to be placed straight after the input and should be an inline SVG.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-12">
                <div class="p-m">
                    <div class="input-group input-group-icon">
                        <textarea class="textarea textarea-m" placeholder="Write a comment..."></textarea>
                        <div class="input-icon">
                            <svg class="input-svg" viewBox="3 -3 24 24"><path class="input-svg-color" d="M15 11.9c-.9 0-1.7-.2-2.3-.7l-5.7-4.4v8.1c0 .1 0 .3.1.4.1.1.2.2.3.2 2.5.4 5 .5 7.5.5s5-.2 7.5-.5c.1 0 .3-.1.4-.2.2-.1.2-.3.2-.4v-8.1l-5.7 4.4c-.6.5-1.4.7-2.3.7zm-1.3-2.3c.3.3.8.4 1.3.4s1-.1 1.3-.4l6.1-4.7c.3-.3.5-.6.6-1v-.8c0-.1 0-.3-.1-.4-.1-.1-.2-.2-.4-.2-2.5-.3-5-.5-7.5-.5s-5 .2-7.5.5c-.1 0-.2.1-.3.2-.2.1-.2.3-.2.4v.9c.1.3.3.6.6 1l6.1 4.6z"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ textareaWithIcon() }</code></pre>
        <script>
        this.textareaWithIcon = function(){
            return '<div class="input-group input-group-icon">\n'+
                    '    <input class="textarea textarea-m" type="text" placeholder="..."></textarea>\n'+
                    '    <div class="input-icon">\n'+
                    '        <svg class="input-svg">...</svg>\n'+
                    '    </div>\n'+
                    '</div>';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Select menu</h4>
    <p class="fontSize-l mb-l">Select menus come in fours sizes which are applied with <strong class="fontWeight-5 c-blue">.select-xl</strong>, <strong class="fontWeight-5 c-blue">.select-l</strong>, <strong class="fontWeight-5 c-blue">.select-m</strong> and <strong class="fontWeight-5 c-blue">.select-s</strong> on the <strong class="fontWeight-5 c-blue">.select</strong> wrapper component.</p>

    <div class="overflow-hidden borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-12 p-m text-center borderStyle-solid borderColor-smoke borderRightWidth-1 borderBottomWidth-1">
                <div class="flex-centered h60 mt-xs mb-s plr-l md-plr-m xs-plr-s">
                    <div class="select select-xl">
                        <select>
                            <option>Placeholder text</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <p class="lineHeight-s fontSize-s fontWeight-3 c-grayLight">Extra Large Select Menu</p>
            </div>
            <div class="col-md-12 p-m text-center borderStyle-solid borderColor-smoke borderBottomWidth-1">
                <div class="flex-centered h60 mt-xs mb-s plr-l md-plr-m xs-plr-s">
                    <div class="select select-l">
                        <select>
                            <option>Placeholder text</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <p class="lineHeight-s fontSize-s fontWeight-3 c-grayLight">Large Select Menu</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-m text-center borderStyle-solid borderColor-smoke borderRightWidth-1">
                <div class="flex-centered h60 mt-xs mb-s plr-xl md-plr-l xs-plr-m">
                    <div class="select select-m">
                        <select>
                            <option>Placeholder text</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <p class="lineHeight-s fontSize-s fontWeight-3 c-grayLight">Medium Select Menu</p>
            </div>
            <div class="col-md-12 p-m text-center">
                <div class="flex-centered h60 mt-xs mb-s plr-xl md-plr-l xs-plr-m">
                    <div class="select select-s">
                        <select>
                            <option>Placeholder text</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <p class="lineHeight-s fontSize-s fontWeight-3 c-grayLight">Small Select Menu</p>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ selectMenu() }</code></pre>
        <script>
            this.selectMenu = function(){
                return '<div class="select select-m">\n'+
                        '    <select></select>\n'+
                        '</div>';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Checkbox</h4>
    <p class="fontSize-l mb-l">Checkboxes come in two sizes which are applied with <strong class="fontWeight-5 c-blue">.checkbox</strong> and <strong class="fontWeight-5 c-blue">.checkbox.small</strong>. Original implementation from WTF, forms? by @mdo. Check this custom checkboxCheck this custom checkbox.</p>

    <div class="overflow-hidden borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-12 d-borderRightWidth-1 xs-borderBottomWidth-1 borderStyle-solid borderColor-smoke">
                <div class="p-m xs-plr0 text-center">
                    <div class="flex-centered h60">
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox-control"></span>
                            <span class="fontWeight-3 fontSize-m">Check this custom checkbox</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="p-m xs-plr0 text-center">
                    <div class="flex-centered h60">
                        <label class="checkbox small">
                            <input type="checkbox">
                            <span class="checkbox-control"></span>
                            <span class="fontWeight-3 fontSize-m">Check this custom checkbox</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ checkbox() }</code></pre>
        <script>
            this.checkbox = function(){
                return '<label class="checkbox">\n'+
                        '    <input type="checkbox" />\n'+
                        '    <span class="checkbox-control"></span>\n'+
                        '    Check this custom checkbox\n'+
                        '</label>';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Switcher</h4>
    <p class="fontSize-l mb-l">Checkboxes come in two sizes which are applied with .form-control--m and .form-control--s on the .form-control wrapper element. Original implementation from WTF, forms? by @mdo. Check this custom checkboxCheck this custom checkbox.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-xs-12 borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="p-m text-center">
                    <div class="flex-centered h60">
                        <input type="checkbox" class="switcher" checked="checked">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="p-m text-center">
                    <div class="flex-centered h60">
                        <input type="checkbox" class="switcher small" checked="checked">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ switcher() }</code></pre>
        <script>
            this.switcher = function(){
                return '<input type="checkbox" class="switcher" checked="checked">';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Switcher green</h4>
    <p class="fontSize-l mb-l">Checkboxes come in two sizes which are applied with .form-control--m and .form-control--s on the .form-control wrapper element. Original implementation from WTF, forms? by @mdo. Check this custom checkboxCheck this custom checkbox.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-xs-12 borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="p-m text-center">
                    <div class="flex-centered h60">
                        <input type="checkbox" class="switcher green" checked="checked">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="p-m text-center">
                    <div class="flex-centered h60">
                        <input type="checkbox" class="switcher green small" checked="checked">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ switcherColors() }</code></pre>
        <script>
            this.switcherColors = function(){
                return '<input type="checkbox" class="switcher green" checked="checked">';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Switcher disabled</h4>
    <p class="fontSize-l mb-l">Checkboxes come in two sizes which are applied with .form-control--m and .form-control--s on the .form-control wrapper element. Original implementation from WTF, forms? by @mdo. Check this custom checkboxCheck this custom checkbox.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-xs-12 borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="p-m text-center">
                    <div class="flex-centered h60">
                        <input type="checkbox" class="switcher" checked="checked" disabled>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="p-m text-center">
                    <div class="flex-centered h60">
                        <input type="checkbox" class="switcher small" checked="checked" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ switcherDisabled() }</code></pre>
        <script>
            this.switcherDisabled = function(){
                return '<input type="checkbox" class="switcher" checked="checked" disabled>';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Tags elements</h4>
    <p class="fontSize-l mb-l">Checkboxes come in two sizes which are applied with .form-control--m and .form-control--s on the .form-control wrapper element. Original implementation from WTF, forms? by @mdo. Check this custom checkboxCheck this custom checkbox.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-24">
                <div class="p-m clear">
                    <div class="tag xs-mb-s xs-mr-m">
                        <span class="tag-text">Tag one</span>
                    </div>
                    <div class="tag xs-mb-s">
                        <span class="tag-text">Tag two</span>
                    </div>
                    <div class="tag xs-mr-m">
                        <span class="tag-text">Tag three</span>
                    </div>
                    <div class="tag add"></div>
                    <div class="tag edit">
                        <span class="tag-count">3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ tagsElements() }</code></pre>
        <script>
            this.tagsElements = function(){
                return '<div class="tag">\n'+
                    '    <span class="tag-text">Tag one</span>\n'+
                    '</div>';
            };
        </script>
    </div>

    <h4 class="mb-xxs">Pagination</h4>
    <p class="fontSize-l mb-l">Checkboxes come in two sizes which are applied with .form-control--m and .form-control--s on the .form-control wrapper element. Original implementation from WTF, forms? by @mdo. Check this custom checkboxCheck this custom checkbox.</p>

    <div class="borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-24">
                <div class="p-m clear xs-plr0">
                    <ul class="pagination">
                        <li class="pagination-btn prev disabled"></li>
                        <li class="pagination-btn">1</li>
                        <li class="pagination-btn">2</li>
                        <li class="pagination-btn active">3</li>
                        <li class="pagination-btn">4</li>
                        <li class="pagination-btn">5</li>
                        <li class="pagination-btn next"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ pagination() }</code></pre>
        <script>
            this.pagination = function(){
                return '<ul class="pagination">\n'+
                        '    <li class="pagination-btn prev"></li>\n'+
                        '    <li class="pagination-btn">...</li>\n'+
                        '    <li class="pagination-btn active">...</li>\n'+
                        '    <li class="pagination-btn">...</li>\n'+
                        '    <li class="pagination-btn next"></li>\n'+
                        '</ul>';
            };
        </script>
    </div>

<script>

    this.on("mount", function(){
        $$('pre > code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });

</script>

</components-form-elements>
