.dropmenu {
    opacity:0.001;
    position:absolute;
    top:0;
    left:999em;
    will-change:opacity, transform;
    @include accelerate();
    transition:opacity 0.2s $cubic215, transform 0.25s $bounceSoft, left 0s 0.25s;
    transform:translate3d(0, 0, 0) scale(0);
    z-index:100;

    &__wrapper {
        position:absolute;
        top:0;
        left:50%;
        border-radius:10px;
        box-shadow:0 1px 15px 0 rgba(0,0,0,.1);
        // box-shadow:0 6px 22px -6px rgba(0,0,0,.25);
        border:1px solid #c9d7df;
        background-color:#fff;
        background-clip:padding-box;
        font-size:0;
        margin-top:4px;
        min-width:160px;
        transform:translate3d(-50%, 0, 0);

        .modal & {
            margin-top:10px;
        }
        .popup & {
            margin-top:10px;
        }
        &:before {
            border-bottom: 11px solid rgba(0, 0, 0, 0.2);
            border-left: 11px solid rgba(0, 0, 0, 0);
            border-right: 11px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            position: absolute;
            left: 50%;
            top: -11px;
            transform:translate3d(-50%, 0, 0);
        }
        &:after {
            border-bottom: 11px solid #FFFFFF;
            border-left: 11px solid rgba(0, 0, 0, 0);
            border-right: 11px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            position: absolute;
            left: 50%;
            top: -10px;
            transform:translate3d(-50%, 0, 0);
        }
    }
    &__item {
        position:relative;
        text-align:left;
        display:list-item;
        padding:8px 38px 8px 20px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        max-width:100%;
        color:$gray;
        font-weight:400;
        font-size:16px;
        line-height:20px;
        cursor:pointer;

        &:hover {
            color:$black;
            background-color:#E9EEF2;
        }
        &:after {
            content:"";
            display:none;
            position:absolute;
            top:50%;
            right:10px;
            margin-top:-11px;
            @include ui-icon(check, 23px, 23px);
        }
        &.selected {
            color:$black;

            &:after {
                display:block;
            }
        }
        &.divider {
            height:1px;
            margin:1px 0;
            padding:0;
            overflow:hidden;
            background-color:#e5e5e5;
        }
        &:first-child {
            padding-top:10px;
            border-radius:10px 10px 0 0;
        }
        &:last-child {
            padding-bottom:11px;
            border-radius:0 0 10px 10px;
        }
        .dropmenu[data-type="radio"] & {
            padding-left:50px;
            padding-right:20px;

            &:after {
                display:block;
                right:auto;
                left:15px;
                @include ui-icon(check_muted);
            }
            &:hover:after {
                @include ui-icon(check_gray);
            }
            &.selected:after {
                @include ui-icon(check);
            }
        }
        &__color {
            display:inline-block;
            vertical-align:middle;
            width:15px;
            height:15px;
            border-radius:50%;
            transform:translate3d(-3px, -1px, 0);
            margin-right:9px;
            opacity:0.85;
        }
        &__button {
            color:$blueLight !important;

            &.edit:before {
                display:inline-block;
                vertical-align:middle;
                content:"";
                transform:translate3d(-3px, -2px, 0);
                margin-right:6px;
                @include ui-icon(edit, 18px, 18px);
            }
        }
    }
    &__palette__wrapper {
        width:288px;
        font-size:0;
        padding:10px 15px;
        text-align:left;
        box-shadow:0 6px 22px -6px rgba(0,0,0,.25);
    }
    &__palette__item {
        position:relative;
        display:inline-block;
        width:22px;
        height:22px;
        border-radius:4px;
        margin:6px 5px;
        cursor:pointer;

        &:after {
            opacity:0;
            content:"";
            position:absolute;
            top:-4px;
            left:-4px;
            width:calc(100% + 8px);
            height:calc(100% + 8px);
            border:1px solid rgba($blue,.8);
            border-radius:6px;
        }
        &:hover:after {
            opacity:1;
        }
        &.selected {
            cursor:default;

            &:after {
                opacity:1;
                border-color:$grayLighten;
            }
        }
    }
    &[data-align="left"]{
        .dropmenu__wrapper {
            top:50%;
            left:auto;
            right:100%;
            margin-top:0;
            margin-right:13px;
            transform:translate3d(0, -50%, 0);

            &:before {
                left:auto;
                right:-17px;
                top:50%;
                transform:translate3d(0, -50%, 0) rotate(90deg);
            }
            &:after {
                left:auto;
                right:-16px;
                top:50%;
                transform:translate3d(0, -50%, 0) rotate(90deg);
            }
        }
    }
    &[data-align="down-left"]{
        .dropmenu__wrapper {
            top:0;
            left:auto;
            right:100%;
            margin-top:0;
            margin-right:13px;
            transform:translate3d(0, -30px, 0);

            &:before {
                left:auto;
                right:-17px;
                top:0;
                transform:translate3d(0, 25px, 0) rotate(90deg);
            }
            &:after {
                left:auto;
                right:-16px;
                top:0;
                transform:translate3d(0, 25px, 0) rotate(90deg);
            }
        }
    }
    &[data-align="right"]{
        .dropmenu__wrapper {
            top:50%;
            left:100%;
            margin-top:0;
            margin-left:13px;
            transform:translate3d(0, -50%, 0);

            &:before {
                left:-17px;
                top:50%;
                transform:translate3d(0, -50%, 0) rotate(-90deg);
            }
            &:after {
                left:-16px;
                top:50%;
                transform:translate3d(0, -50%, 0) rotate(-90deg);
            }
        }
    }
    &[data-align="up"]{
        .dropmenu__wrapper {
            top:auto;
            bottom:100%;
            margin-top:0px;
            margin-bottom:6px;

            &:before,
            &:after {
                top:auto;
                transform:translate3d(-50%, 0, 0) rotate(180deg);
            }
            &:before {
                bottom:-11px;
            }
            &:after {
                bottom:-10px;
            }
        }
    }
    &--active {
        opacity:1;
        left:0;
        transition:opacity 0.2s $cubic215, transform 0.25s $bounceSoft, left 0s;
        transform:translate3d(0, 0, 0) scale(1);
    }
}
