.code-preview {
    background-color:$snow;
    border:1px solid $smoke;
    overflow:auto;
    @extend .p-m;
    @extend .borderRadius-m;
}
code, kbd, pre, samp {
    font-family:Menlo, Monaco, Courier, monospace;
}
pre {
    font-size:13px;
    line-height:22px;
    overflow:auto;
    word-break:normal;
    white-space:nowrap;
}
code {
	color:$gray;
	white-space:pre-wrap;
}
.hljs {
    display:block;
    color:$gray;

    &-comment {
        color:$grayLighten;
        font-style:italic;
    }
    &-addition,
    &-keyword,
    &-selector-tag,
    &-attr,
    &-attribute,
    &-class .hljs-title,
    &-template-variable,
    &-type,
    &-variable {
        color:$frozenDark;
    }
    &-doctag,
    &-literal,
    &-meta .hljs-meta-string,
    &-number,
    &-regexp,
    &-string,
    &-value {
        color:$chery;
    }
    &-class,
    &-name,
    &-section,
    &-selector-class,
    &-selector-id,
    &-title {
        color:$blackLight;
    }
}
