.input {
    @extend .fontFamily-roboto;
    @extend .outline-none;
    @extend .c-blackDark;
    @extend .fontWeight-3;
    @extend .border-none;
    @extend .borderRadius-m;
    @extend .w100p;
    @extend .transition-default;
    box-shadow:inset 0 0 0 1px #d9e2e9;

    &:hover {
        box-shadow:inset 0 0 0 1px #c0ccda;
    }
    &:focus {
        box-shadow:inset 0 0 0 1px $azureLight;

        + .input-icon .input-svg-color {
            @extend .fill-blueLight;
        }
    }
    &-darken {
        box-shadow:inset 0 0 0 1px #c0ccda;

        &:focus,
        &:hover {
            box-shadow:inset 0 0 0 1px $azureLight;
        }
    }
    &::-webkit-input-placeholder {
        line-height:normal;
        color:$grayLight;
    }
    &::-moz-input-placeholder {
        line-height:normal;
        color:$grayLight;
    }
    &:disabled,
    &:disabled:hover {
        @extend .bg-snow;
        box-shadow:inset 0 0 0 1px $smoke;
        @extend .cursor-default;
    }
    &-icon {
        @extend .pos-tl;
        @extend .flex-row-centered;
        width:38px;
        height:38px;
    }
    &-svg {
        @extend .display-block;
        width:24px;
        height:24px;

        &-color {
            @extend .fill-smokeDarken;
            @extend .transition-default;
        }
        &-active {
            .input-svg-color {
                @extend .fill-blueLight;
            }
        }
        &-s {
            width:20px;
            height:20px;
        }
        &-xs {
            width:18px;
            height:18px;
        }
    }
    &-xl {
        min-width:60px;
        font-size:18px;
        line-height:60px;
        padding:0 20px;
    }
    &-l {
        min-width:50px;
        font-size:16px;
        line-height:50px;
        padding:0 16px;
    }
    &-m {
        min-width:40px;
        font-size:16px;
        line-height:40px;
        padding:0 14px;
    }
    &-s {
        min-width:30px;
        font-size:14px;
        line-height:30px;
        padding:0 10px;
        @extend .borderRadius-xs;
    }
    &-group {
        position:relative;
        display:block;
        width:100%;

        &-icon {
            .input,
            .textarea {
                padding-left:38px;
            }
        }
        &-addon {
            @include flex("row", "center", "center");
            position:absolute;
            top:0;
            right:0;
            height:100%;

            + .input {
                padding-right:40px;
            }
            &-icon {
                margin:0 5px;

                &-writeEmail {
                    display:block;
                    cursor:pointer;
                    @include ui-icon(writeEmail, 32px, 32px);
                }
                &-close {
                    display:block;
                    cursor:pointer;
                    @include ui-icon(close_strong, 28px, 28px);
                }
            }
        }
    }
    &-context {
        @extend .display-inlineBlock;
        @extend .c-gray;
        @extend .bg-snowDark;
        @extend .cursor-default;
        @extend .w-auto;

        &:hover {
            box-shadow:inset 0 0 0 1px #d9e2e9;
        }
    }
}
.input-group {
    @extend .inline;
}
.input-group > .input {
    @extend .pos-rel;
    @extend .w-auto;
}
.input-group {
    .input + .input,
    .input + .input-group,
    .input-group + .input,
    .input-group + .input-group {
        margin-left:-1px;
    }
}
.input-group > .input:not(:first-child):not(:last-child) {
    @extend .borderRadius-none;
}
.input-group {
    margin-left:0;

    &:not(.input-group-icon) {
        .input:first-child {
            &:not(:last-child) {
                @extend .borderRadiusRight-none;
            }
        }
        .input:focus {
            z-index:1;
        }
    }
}
.input-group > .input:last-child:not(:first-child) {
    @extend .borderRadiusLeft-none;
}
