@font-face {
  font-family: 'HelveticaNeue';
  src: url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrLight.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrLight.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrLight.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrLight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrLight.svg') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrRoman.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrRoman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrRoman.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrRoman.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrRoman.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrRoman.svg') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrMedium.eot'); /* IE9 Compat Modes */
  src: url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrMedium.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrMedium.woff') format('woff'), /* Modern Browsers */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrMedium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/css/fonts/HelveticaNeue/HelveticaNeueCyrMedium.svg') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}
