.display-inlineBlock {
    display:inline-block;
}
.display-none {
    display:none;
}
.display-block {
    display:block;
}
.display-table {
    display:table;
}
.display-tableCell {
    display:table-cell;
}
.vAlign-top {
    vertical-align:top;
}
.vAlign-middle {
    vertical-align:middle;
}
.vAlign-bottom {
    vertical-align:bottom;
}
.vAlign-text-bottom {
    vertical-align:text-bottom;
}
