@each $title, $size in (xxs: 5px, xs: 10px, s: 15px, m: 20px, l: 40px, xl: 80px){
    .p-#{$title} {
        padding:$size;
    }
    .pl-#{$title} {
        padding-left:$size;
    }
    .pr-#{$title} {
        padding-right:$size;
    }
    .pt-#{$title} {
        padding-top:$size;
    }
    .pb-#{$title} {
        padding-bottom:$size;
    }
    .ptb-#{$title} {
        padding-top:$size;
        padding-bottom:$size;
    }
    .plr-#{$title} {
        padding-left:$size;
        padding-right:$size;
    }
}
@for $i from 0 through 20 {
    .p#{$i * 5} {
        padding:$i * 5px;
    }
    .pl#{$i * 5} {
        padding-left:$i * 5px;
    }
    .pr#{$i * 5} {
        padding-right:$i * 5px;
    }
    .pt#{$i * 5} {
        padding-top:$i * 5px;
    }
    .pb#{$i * 5} {
        padding-bottom:$i * 5px;
    }
}
.p0 {
    padding:0;
}
