<design-animation>

    <h2 class="mb-xl">Animation</h2>

    <h4 class="mb-xxs">Timing</h4>
    <p class="fontSize-l mb-l">There are 5 available transition durations, which define the speed of the animation. <strong class="fontWeight-5 c-blue">.transitionDuration-s</strong>, <strong class="fontWeight-5 c-blue">.transitionDuration-m</strong>, <strong class="fontWeight-5 c-blue">.transitionDuration-l</strong>, <strong class="fontWeight-5 c-blue">.transitionDuration-xl</strong> or <strong class="fontWeight-5 c-blue">.transitionDuration-xxl</strong>. You can also use .transitionDuration-0, to reset the duration to zero. Responsive options are available for all durations.</p>


</design-animation>
