<design-border-radius>

    <h2 class="mb-xl">Border Radius</h2>

    <h4 class="mb-xxs">Uniform Border radius</h4>
    <p class="fontSize-l mb-l">Uniform border radius is applied equally to all corners. There are 3 sizes to choose from, .borderRadius-s,.borderRadius-m or.borderRadius-l. Use.borderRadius-circle to make an element circular. All classes have responsive options.</p>

    <div class="p-m borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="inline p-m xs-p-xxs">
            <div class="mr-m xs-mb-m display-inlineBlock bg-smoke w100 h100 borderRadius-m"></div>
            <div class="mr-m xs-mb-m xs-mr0 display-inlineBlock bg-smoke w100 h100 borderRadius-l"></div>
            <div class="mr-m xs-mb-m display-inlineBlock bg-smoke w100 h100 borderRadius-xl"></div>
            <div class="mr-m xs-mb-m xs-mr0 display-inlineBlock bg-smoke w100 h100 borderRadius-xxl"></div>
            <div class="mr-m xs-mb0 display-inlineBlock bg-smoke w100 h100 borderRadius-xxxl"></div>
            <div class="xs-m0 display-inlineBlock bg-smoke w100 h100 borderRadius-circle"></div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ uniformBorderRadius() }</code></pre>
    </div>

    <h4 class="mb-xxs">Unequal Border radius</h4>
    <p class="fontSize-l mb-l">Unequal border radius affects only a single corner of the element. The other corners remain unaffected. Again, there are 3 sizes to choose from and all classes have responsive options.</p>

    <div class="p-m borderWidth-1 borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="inline p-m xs-p-xxs">
            <div class="mr-m xs-mb-m display-inlineBlock bg-smoke w100 h100 borderRadiusTopLeft-m"></div>
            <div class="mr-m xs-mb-m xs-mr0 display-inlineBlock bg-smoke w100 h100 borderRadiusTopLeft-l"></div>
            <div class="mr-m xs-mb-m display-inlineBlock bg-smoke w100 h100 borderRadiusTopLeft-xl"></div>
            <div class="mr-m xs-mb-m xs-mr0 display-inlineBlock bg-smoke w100 h100 borderRadiusTopLeft-xxl"></div>
            <div class="mr-m xs-mb0 display-inlineBlock bg-smoke w100 h100 borderRadiusTopLeft-xxxl"></div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1">
        <pre><code class="hljs">{ unequalBorderRadius() }</code></pre>
    </div>

<script>

    this.on("mount", function(){
        $$('pre > code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });

    this.uniformBorderRadius = function(){
        return '<div class="borderRadius-s"></div>\n'+
        '<div class="borderRadius-m"></div>\n'+
        '<div class="borderRadius-l"></div>\n'+
        '<div class="borderRadius-xl"></div>\n'+
        '<div class="borderRadius-circle"></div>';
    };

    this.unequalBorderRadius = function(){
        return '<div class="borderRadiusTopLeft-l"></div>\n'+
        '<div class="borderRadiusTopRight-l"></div>\n'+
        '<div class="borderRadiusBottomRight-l"></div>\n'+
        '<div class="borderRadiusBottomLeft-l"></div>';
    };

</script>

</design-border-radius>
