<design-color-scheme>

    <h2 class="mb-xl">Color Scheme</h2>

    <h4 class="mb-xxs">Brand colors</h4>
    <p class="fontSize-l mb-l">Primary brand colors are used for elements that must reflect Marvel's brand. Each color has a darker and a lighter shade.</p>

    <div class="row mb-xl userSelect-none fontFamily-nimbus">
        <div class="col-md-6">
            <div class="h80 p-s bg-blue">
                <div class="fontSize-m c-white text-capitalize">blue</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#1289FE</div>
            </div>
            <div class="h80 p-s bg-blueLight">
                <div class="fontSize-m c-white text-capitalize">blue light</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#2C93FF</div>
            </div>
            <div class="h80 p-s bg-azureLight">
                <div class="fontSize-m c-white text-capitalize">azure light</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#1FB6FF</div>
            </div>
            <div class="h80 p-s bg-azure">
                <div class="fontSize-m c-white text-capitalize">azure</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#00aff2</div>
            </div>
            <div class="h80 p-s bg-azureDark">
                <div class="fontSize-m c-white text-capitalize">azure dark</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#00a7eb</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h80 p-s bg-red">
                <div class="fontSize-m c-white text-capitalize">red</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#FF4949</div>
            </div>
            <div class="h80 p-s bg-redLight">
                <div class="fontSize-m c-white text-capitalize">red light</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#ff665a</div>
            </div>
            <div class="h80 p-s bg-crimson">
                <div class="fontSize-m c-white text-capitalize">crimson</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#fc576b</div>
            </div>
            <div class="h80 p-s bg-chery">
                <div class="fontSize-m c-white text-capitalize">chery</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#d33682</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h80 p-s bg-orange">
                <div class="fontSize-m c-white text-capitalize">orange</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#ff7849</div>
            </div>
            <div class="h80 p-s bg-orangeLight">
                <div class="fontSize-m c-white text-capitalize">orange light</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#ff944d</div>
            </div>
            <div class="h80 p-s bg-yellow">
                <div class="fontSize-m c-white text-capitalize">yellow</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#ffc82c</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h80 p-s bg-emerald">
                <div class="fontSize-m c-white text-capitalize">emerald</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#2ac2a0</div>
            </div>
            <div class="h80 p-s bg-green">
                <div class="fontSize-m c-white text-capitalize">green</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#13CE66</div>
            </div>
            <div class="h80 p-s bg-greenLight">
                <div class="fontSize-m c-white text-capitalize">green light</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#4cd964</div>
            </div>
        </div>
    </div>

    <h4 class="mb-xxs">Grey colors</h4>
    <p class="fontSize-l mb-l">Grey colors are used for text, backgrounds, lines and borders. <strong class="c-blue fontWeight-5">Smoke</strong> and <strong class="c-blue fontWeight-5">Snow</strong> have two darker shades, which are used for icons and backgrounds.</p>

    <div class="row mb-xl userSelect-none fontFamily-nimbus">
        <div class="col-md-6">
            <div class="h80 p-s mb-s bg-blackDark">
                <div class="fontSize-m c-white text-capitalize">black dark</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#070e19</div>
            </div>
            <div class="h80 p-s bg-smoke">
                <div class="fontSize-m c-blackLight text-capitalize">smoke</div>
                <div class="fontSize-s c-blackLight text-uppercase opacity-70">#e0e6ed</div>
            </div>
            <div class="h80 p-s bg-smokeDark">
                <div class="fontSize-m c-blackLight text-capitalize">smoke dark</div>
                <div class="fontSize-s c-blackLight text-uppercase opacity-70">#dae2e8</div>
            </div>
            <div class="h80 p-s bg-smokeDarken">
                <div class="fontSize-m c-blackLight text-capitalize">smoke darken</div>
                <div class="fontSize-s c-blackLight text-uppercase opacity-70">#c9d7df</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h80 p-s mb-s bg-black">
                <div class="fontSize-m c-white text-capitalize">black</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#28282A</div>
            </div>
            <div class="h80 p-s bg-snow">
                <div class="fontSize-m c-blackLight text-capitalize">snow</div>
                <div class="fontSize-s c-blackLight text-uppercase opacity-70">#fbfbfc</div>
            </div>
            <div class="h80 p-s bg-snowDark">
                <div class="fontSize-m c-blackLight text-capitalize">snow dark</div>
                <div class="fontSize-s c-blackLight text-uppercase opacity-70">#f2f5f7</div>
            </div>
            <div class="h80 p-s bg-snowDarken">
                <div class="fontSize-m c-blackLight text-capitalize">snow darken</div>
                <div class="fontSize-s c-blackLight text-uppercase opacity-70">#e3eaf0</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h80 p-s mb-s bg-blackSoft">
                <div class="fontSize-m c-white text-capitalize">black soft</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#292f33</div>
            </div>
            <div class="h80 p-s bg-frozenLighten">
                <div class="fontSize-m c-blackLight text-capitalize">frozen lighten</div>
                <div class="fontSize-s c-blackLight text-uppercase opacity-70">#E7F3FF</div>
            </div>
            <div class="h80 p-s bg-frozenLight">
                <div class="fontSize-m c-blackLight text-capitalize">frozen light</div>
                <div class="fontSize-s c-blackLight text-uppercase opacity-70">#C3D7E7</div>
            </div>
            <div class="h80 p-s bg-frozen">
                <div class="fontSize-m c-white text-capitalize">frozen</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#74a3c7</div>
            </div>
            <div class="h80 p-s bg-frozenDark">
                <div class="fontSize-m c-white text-capitalize">frozen dark</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#40769F</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h80 p-s mb-s bg-blackLight">
                <div class="fontSize-m c-white text-capitalize">black light</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#37474f</div>
            </div>
            <div class="h80 p-s bg-grayLighten">
                <div class="fontSize-m c-white text-capitalize">gray lighten</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#a8b6bf</div>
            </div>
            <div class="h80 p-s bg-grayLight">
                <div class="fontSize-m c-white text-capitalize">gray light</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#8b9ea9</div>
            </div>
            <div class="h80 p-s bg-gray">
                <div class="fontSize-m c-white text-capitalize">gray</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#6e8593</div>
            </div>
            <div class="h80 p-s bg-grayDark">
                <div class="fontSize-m c-white text-capitalize">gray dark</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#52646f</div>
            </div>
            <div class="h80 p-s bg-grayDarken">
                <div class="fontSize-m c-white text-capitalize">gray darken</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#48555e</div>
            </div>
        </div>
    </div>

    <h4 class="mb-xxs">UI Colors</h4>
    <p class="fontSize-l mb-l">The main UI colors are used for action buttons, alert messages, and form elements. Input fields, for example, can get positive and negative feedback, whereas alert messages can have warning feedback.</p>

    <div class="row mb-xl userSelect-none fontFamily-nimbus">
        <div class="col-md-6">
            <div class="h80 p-s bg-blueLight">
                <div class="fontSize-m c-white text-capitalize">information</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#2C93FF</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h80 p-s bg-green">
                <div class="fontSize-m c-white text-capitalize">success</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#13CE66</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h80 p-s bg-red">
                <div class="fontSize-m c-white text-capitalize">danger</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#FF4949</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h80 p-s bg-orange">
                <div class="fontSize-m c-white text-capitalize">warning</div>
                <div class="fontSize-s c-white text-uppercase opacity-70">#ff7849</div>
            </div>
        </div>
    </div>

    <h4 class="mb-xxs">Other colors</h4>
    <p class="fontSize-l mb-l">The grey colors are reversible. Each light grey color has a complementary dark grey color. This helps keeping the colors well balanced and also makes it easier to implement light/dark themes. Good example of this is the Marvel editor, which is implemented in the dark theme.</p>

    <div class="row userSelect-none fontFamily-nimbus">
        <div each={ color, i in colors } no-reorder class="col-md-6">
            <div class="h55 p-s mb-s borderRadius-l color__bg{ i + 1 }">
                <div class="fontSize-m c-white text-uppercase opacity-85">{ color }</div>
            </div>
        </div>
    </div>

<script>

    this.colors = ['#9471DB', '#4D71DB', '#FFB84D', '#B871B8', '#71B84D', '#FFDB71', '#4DB8B8', '#4DB8DB', '#DB94DB', '#FFACC5', '#FF944D', '#B8DB4D', '#FF7194', '#6AD19F'];

</script>

</design-color-scheme>
