<design-icons>

    <h2 class="mb-xl">Icons</h2>

    <h4 class="mb-xxs">Collection icons</h4>
    <p class="fontSize-l mb-l">Marvel's primary typeface is Fakt Soft Pro — a robust typeface with legible numbers that renders well at all sizes. It is soft and friendly, yet plain enough to get out of the way and let the user's designs shine.</p>

    <div class="borderWidth-1 overflow-hidden borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-edit w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-print w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-search w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-calendar w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-calendarNumber w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-date_change w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-date_from w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-date_to w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-plus w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-cog w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-cogs w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-settings w50 h50"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-more_h w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-email w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-sendEmail w60 h60"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-link_source w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-link_action w45 h45"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-visible w45 h45"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-time w35 h35"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-location w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-writeEmail w50 h50"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-cursor_fill w35 h35"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-events w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-alarm_fill w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-columns w35 h35"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-csv w55 h55"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-json w40 h50"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-checkbox w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-arrowLeft w35 h35"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-arrowRight w35 h35"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-check w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-remove w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-sortUp w55 h55"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-sortDown w55 h55"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-phone w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-messenger w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-reviews w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-userAdd w35 h35"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-tag w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-tagAdd w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-yandex w45 h45"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-google w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-rambler w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-mailru w40 h40"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-yahoo w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <div class="ui-icon-bing w40 h40"></div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="flex-row-centered w100p h100">
                    <!-- <div class="ui-icon-rambler w40 h40"></div> -->
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="flex-row-centered w100p h100">
                    <!-- <div class="ui-icon-mailru w40 h40"></div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1">
        <pre><code class="hljs">{ collectionIcons() }</code></pre>
    </div>

<script>

    this.on("mount", function(){
        $$('pre > code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });

    this.collectionIcons = function(){
        return '<div class="ui-icon-edit"></div>\n'+
        '<div class="ui-icon-print"></div>\n'+
        '<div class="ui-icon-search"></div>\n'+
        '<div class="ui-icon-calendar"></div>\n'+
        '<div class="ui-icon-plus"></div>\n'+
        '<div class="ui-icon-cogs"></div>';
    };

</script>

</design-icons>
