<design-layout>

    <h2 class="mb-xl">Layout</h2>

    <h4 class="mb-xxs">Uniform spacing</h4>
    <p class="fontSize-l mb-l">Spacing can be applied using either margin or padding. Both margin and padding share the same predefined scale. There are 6 available spacing sizes; <strong class="c-blue fontWeight-5">.m-xxs</strong>, <strong class="c-blue fontWeight-5">.m-xs</strong>, <strong class="c-blue fontWeight-5">.m-s</strong>, <strong class="c-blue fontWeight-5">.m-m</strong>, <strong class="c-blue fontWeight-5">.m-l</strong> or <strong class="c-blue fontWeight-5">.m-xl</strong>. All classes have responsive options available.</p>

    <div class="borderWidth-1 overflow-hidden borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row borderBottomWidth-1 borderStyle-solid borderColor-smoke">
            <div class="col-md-8 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch p-xxs borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch p-xs borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-m">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch p-s borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch p-m borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch p-l borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-m">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch p-xl borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1 mb-xl">
        <pre><code class="hljs">{ uniformSpacing() }</code></pre>
    </div>

    <h4 class="mb-xxs">Individual spacing</h4>
    <p class="fontSize-l mb-l">Individual spacing can be applied to a single side of an element using either margin or padding. Again, both margin and padding share the same predefined scale. The same 6 sizes are available.</p>

    <div class="borderWidth-1 overflow-hidden borderStyle-solid borderColor-smoke borderRadiusTop-m">
        <div class="row">
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch pt-m borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch pr-m borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-m borderRightWidth-1 borderStyle-solid borderColor-smoke">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch pb-m borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-m">
                <div class="pl-xs pr-xs">
                    <div class="aspectRatio-100">
                        <div class="aspectRatio-content flex-row-center-stretch pl-m borderRadius-m bg-azure-transparent">
                            <div class="bg-azure opacity-30 borderRadius-m w100p h100p">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-preview borderRadiusTop-none mt-1">
        <pre><code class="hljs">{ individualSpacing() }</code></pre>
    </div>

<script>

    this.on("mount", function(){
        $$('pre > code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });

    this.uniformSpacing = function(){
        return '<!-- Margin classes -->\n'+
        '<div class="m-xxs"></div>\n'+
        '<div class="m-xs"></div>\n'+
        '<div class="m-s"></div>\n'+
        '<div class="m-m"></div>\n'+
        '<div class="m-l"></div>\n'+
        '<div class="m-xl"></div>\n\n'+
        '<!-- Padding classes -->\n'+
        '<div class="p-xxs"></div>\n'+
        '<div class="p-xs"></div>\n'+
        '<div class="p-s"></div>\n'+
        '<div class="p-m"></div>\n'+
        '<div class="p-l"></div>\n'+
        '<div class="p-xl"></div>';
    };

    this.individualSpacing = function(){
        return '<!-- Margin classes -->\n'+
        '<div class="mt-m"></div>\n'+
        '<div class="mr-m"></div>\n'+
        '<div class="mb-m"></div>\n'+
        '<div class="ml-m"></div>\n\n'+
        '<!-- Padding classes -->\n'+
        '<div class="pt-m"></div>\n'+
        '<div class="pr-m"></div>\n'+
        '<div class="pb-m"></div>\n'+
        '<div class="pl-m"></div>';
    };

</script>

</design-layout>
