@each $title, $size in (xxs: 5px, xs: 10px, s: 15px, m: 20px, l: 40px, xl: 80px){
    @media screen and (min-width: $w768) and (max-width: $w1024) {
        .md-p-#{$title} {
            padding:$size;
        }
        .md-pl-#{$title} {
            padding-left:$size;
        }
        .md-pr-#{$title} {
            padding-right:$size;
        }
        .md-pt-#{$title} {
            padding-top:$size;
        }
        .md-pb-#{$title} {
            padding-bottom:$size;
        }
        .md-ptb-#{$title} {
            padding-top:$size;
            padding-bottom:$size;
        }
        .md-plr-#{$title} {
            padding-left:$size;
            padding-right:$size;
        }
    }
    @media screen and (max-width: $w767) {
        .xs-p-#{$title} {
            padding:$size;
        }
        .xs-pl-#{$title} {
            padding-left:$size;
        }
        .xs-pr-#{$title} {
            padding-right:$size;
        }
        .xs-pt-#{$title} {
            padding-top:$size;
        }
        .xs-pb-#{$title} {
            padding-bottom:$size;
        }
        .xs-ptb-#{$title} {
            padding-top:$size;
            padding-bottom:$size;
        }
        .xs-plr-#{$title} {
            padding-left:$size;
            padding-right:$size;
        }
    }
}
@media screen and (min-width: $w768) and (max-width: $w1024) {
    .md-p0 {
        padding:0;
    }
    .md-pt0 {
        padding-top:0;
    }
    .md-pr0 {
        padding-right:0;
    }
    .md-pb0 {
        padding-bottom:0;
    }
    .md-pl0 {
        padding-left:0;
    }
    .md-ptb0 {
        padding-top:0;
        padding-bottom:0;
    }
    .md-plr0 {
        padding-left:0;
        padding-right:0;
    }
}
@media screen and (max-width: $w767) {
    .xs-p0 {
        padding:0;
    }
    .xs-pt0 {
        padding-top:0;
    }
    .xs-pr0 {
        padding-right:0;
    }
    .xs-pb0 {
        padding-bottom:0;
    }
    .xs-pl0 {
        padding-left:0;
    }
    .xs-ptb0 {
        padding-top:0;
        padding-bottom:0;
    }
    .xs-plr0 {
        padding-left:0;
        padding-right:0;
    }
}
